<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">5-day forecast for {{data?.city?.name}}</h3>
        </div>
        <ul class="list-group">
            <!---->
            <li *ngFor="let day of data?.list" class="list-group-item">
                <!-- Monday, Mar 23:  -->
                {{day?.dt|date:'EEEE, MMMM d hh:mm:ss'}} 
                {{day?.weather[0].main}}
                - Min: {{day?.temp?.min}}
                - Max: {{day?.temp?.max}}
                <div *ngIf="day?.weather[0].main === 'Clear'">
                    <img class="icon" src="https://www.angulartraining.com/images/weather/sun.png">
                </div>
                <div *ngIf="day?.weather[0].main === 'Clouds'">
                    <img class="icon" src="https://www.angulartraining.com/images/weather/clouds.png">
                </div>
                <div *ngIf="day?.weather[0].main === 'Snow'">
                    <img class="icon" src="https://www.angulartraining.com/images/weather/snow.png">
                </div>
                <div *ngIf="day?.weather[0].main === 'Rain'">
                    <img class="icon" src="https://www.angulartraining.com/images/weather/rain.png">
                </div>
            </li>
        </ul>
    </div>
    <button routerLink ="/" class="btn btn-success" tabindex="0" id="mainPageBtn">&lt; Back to
        main page</button>
</div>