<div class="row">
    <div class="offset-2 col-6">
        <div class="well" [formGroup]="form">
            <h2>Enter a zipcode:</h2>
            <input formControlName="zipCode" class="form-control" placeholder="Zipcode" type="text" id="addLocation"
                autocomplete="postal-code">
            <br>
            <button [disabled]="form.invalid" (click)="onClick()" class="btn btn-primary" id="addLocationBtn">
                Add location
            </button>
        </div>
    </div>
    <div class="offset-2 col-6" >
        <app-current-weather *ngFor="let zipCode of entredZipCodesList" [currentZipCode]="zipCode"></app-current-weather>
    </div>
</div>